//Simple CSS

body{

  margin:0;
  width: 800px;

}

p{

  font-family: Helvetica;
  font-style: italic;
}

#playArea{

  text-align: center;
  font-family: Helvetica;
  margin: 100px;
  padding: 30px;
  border-width: 2px;
  border-style: solid;
  height: 400px;
  width: 600px;
  background-color: #99CCFF;

}

canvas{

  position:center;
  background-color: #FFFFFF;
  -webkit-animation:canvasAnimation 1s;

}

@-webkit-keyframes canvasAnimation {

  0%   {-webkit-transform:rotate(90deg);left:0px; top:0px;}

}

.middle-row{
  clear: both;
  position: center;
}

.bottom-row{
  clear: both;
  position: center;
}

